// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-decoration: none;
}

#image_author, #image_title, #image_URL {
    background:white;
     border:none; 
     padding:0!important;
    /*border is optional*/
     border-bottom:1px solid white; 
     border-radius: 5px;
     color: Black;
     font-size: 13px
}

input {
	   background:none;
     border:none; 
    /*border is optional*/
     color: #007AFF;
     font-size: 17px
}

a {
	color:#007AFF;
}

body {
	background: white;
	font-family: Helvetica;
}

.form-vertical {
	color: White;
	font-size: 17px
}

form table, p{
	margin: 10px auto;
}

.table_col_one {
	text-align: right;
	padding: 5px;
}

.table_col_two {
	text-align:left;
	padding: 5px;
}

.edit a {
	display:block;
	margin: 10px;
	font-size: 17px;
}

.header {
	background-color: white;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	text-align:center;
	border-bottom: 1px solid #FF3A2D;
	display: inline;
	z-index:2;
}

.header > a {
	color: #34AADC;
	display: inline;
	float:right;
	padding: 10px 10px 10px 10px ;
}

.header h1 {
	color: #34AADC;
	display: inline;
	float:left;
	margin: 0 0 0 0;
	padding: 0 0 0 0 ;
}

.new, .edit {
	position:fixed;
	top: 45px;
	right: 0px;
	float:right;
	width: 24%;
	margin: 0 5px 0 0;
	text-align:center;
	background: #BDBEC2;
	border-radius: 10px;
}

.grid {
	float: left;
	position: relative;
	top: 45px;
	left:5px;
	width:75%;
}

.imgbox {
	height: 210px;
	width: 210px;
	overflow: hidden;
	display: inline-block;
}

.imgbox a img {
	height: 230px;
	width: auto;
	display:inline;
	overflow: hidden;
}

.big_imgbox {
	width: 425px;
	height: 200px;
	overflow: hidden;
	display: inline-block;
}

.big_imgbox a img {
	width: 426px;
	display:inline;
	overflow: hidden;
}

.show {
	float: left;
	position: relative;
	top: 45px;
	width:75%;
}

.show p img {
	max-width: 74%%;
	margin:10px auto 50px auto ;
	display:block;
}

#footer{
	clear:both;
	position:relative;
	top:45px;
	text-align:center;
	width:100%;
	background-color:#D1EEFC;
}
