<div class = 'header'>
	<h1><%= link_to "imijur", images_url %></h1>
</div>

<div class = 'grid'>
	<% @images.each do |image| %>
		<div class = "imgbox"><%= link_to image_tag(image.URL), "/images/#{image.id}" %></div>
		</a>
	<% end %>
</div>

<div class = "new">
	<%= render partial: "form" %>
</div>
