<div class = "header">
	<h1><%= link_to "imijur", images_url %></h1>
</div>

<div class = "show">
	<p>
		<a href="<%= @image[:URL] %>"><img src = "<%= @image[:URL] %>"></a>
	</p>
</div>

<div class = "edit">
	<%= render partial: "form" %>
</div>