<div class = "show">
	<p>
		<a href="<%= @image[:URL] %>"><img src = "<%= @image[:URL] %>"></a>
	</p>
</div>

<div class = "edit">
	<%= render partial: "form" %>
	<%= link_to "Delete", @picture, :confirm => "Are you sure you want to delete this picture?", :method => :delete %>
</div>